<section class="hero is-primary is-medium has-background-white-ter has-text-grey">
  <!-- Hero head: will stick at the top -->


  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
        <div class="block has-text-primary">
            <strong>danorama</strong> GmbH
        </div>
        <div class="columns">
            <div class="column">
                <div class="block">
                <ul>
                    <li>Kurt-Emmerich-Platz 6</li>
                    <li>21109 Hamburg</li>
                    <li>Germany</li>
                </ul>
                </div>
                <div class="block">
                    <ul>
                        <li><a href="">+49 (0) 40 2286 3269</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
        <nav class="tabs is-right">
                <div class="container is-widescreen has-text-primary">
                    <div class="block">
                    <ul>
                        <li><a href="">Imprint</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href=""><i data-feather="arrow-up"></i></a></li>
                    </ul>
                    </div>
                </div>
        </nav>
  </div>
</section>